:root {
    --bgc-1: rgba(239, 239, 239, 0.5);
    --bgc-1-opaque: rgba(239, 239, 239, 1);
    --bgc-2: rgba(228, 228, 228, 0.55);
    --bgc-2-opaque: rgba(228, 228, 228, 1);
    --bgc-3: rgba(167, 167, 167, 0.538);
    --bgc-3-opaque: rgba(167, 167, 167, 1);
    --bg-image:
        radial-gradient(at bottom left, transparent 30%, var(--bgc-2) 30% 40%, transparent 40%),
        radial-gradient(at top right, transparent 30.5%, var(--bgc-2) 30.5% 40.5%, transparent 40.5%),

        linear-gradient(-20deg, var(--bgc-1) 10%, transparent 10% 73.5%, var(--bgc-1) 73.5% 83.5%, transparent 83.5%),
        linear-gradient(-32.5deg, transparent 39%, var(--bgc-1) 39% 47.5%, transparent 47.5%);
    --bg-size: 40px 40px;
}

body {
    background-color: black;
    font-family: 'Syne', sans-serif;
    margin: 8px 0;
    user-select: none;
}

/* -------------------Header------------------------------ */

.header {
    background-image: linear-gradient(90deg, rgb(88, 88, 88) 10%, transparent 10%), linear-gradient(42deg, transparent 48%, rgb(88, 88, 88) 48%, rgb(88, 88, 88) 55%, transparent 55%);
    background-size: 51px 48px;
    background-repeat: repeat-x;
    background-position: 0 center;
    animation-name: wave;
    animation-duration: 300ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1 {
    background-color: rgba(0, 0, 0, 1);
    color: var(--bgc-1-opaque);
    font-size: 40px;
    padding-left: 30px;
    transition: padding-left 0.5s, background-color 0.5s;
}

h1:hover {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 10%;
    transition: padding-left 2s, background-color 2s;
}

@keyframes wave {
    100% {background-position: -51px center;}
}

@media only screen and (max-width: 600px) {
    h1:hover { padding-left: 30px}
}

/*----------------Dropdown Sections--------------*/

h2 {
    margin: 0;
    font-size: 20px;
}

.dropdown {
    background-color: var(--bgc-2-opaque);
    background-image: var(--bg-image);
    background-size: var(--bg-size);
    margin: 10px 0;
    padding: 30px;
    transition: background-color 2s;
}

.dropdown:hover {
    background-color: var(--bgc-1-opaque);
    transition: background-color 2s;
}


/*--------------Settings-----------------*/

/* Settings Header */
.show-hide {
    margin: 6px 0 0 0;
}

/* Settings Controls and Info Dropdown */
.grid-container {    /* This class is not in HTML, it's applied to un-hide div in JS */
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px 0;
}

.hidden {
    display: none;
}

.settings-box {
    padding: 16px 0;
    width: 420px;
}

.setting-heading {
    font-size: 16px;
    margin: 0;
}

.gain-text {
    display: inline;
}

.gain-slider {
    -webkit-appearance: none;
    background: var(--bgc-3);
    border-radius: 2px;
    height: 4px;
    width: 330px;
    
}

.gain-slider:hover {
    background: var(--bgc-3-opaque);
}

.gain-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: black;
    border-radius: 2px;
    width: 8px;
    height: 16px;
}

.gain-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: black;
    border-radius: 2px;
    outline-style: none;
    border-style: none;
    width: 8px;
    height: 16px;
}


.radio-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bgc-1);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--bgc-3);
    margin-right: 26px;
    transform: translateY(2px);
}

.radio-button:hover {
    background-color: var(--bgc-1-opaque);
    border-color: var(--bgc-3-opaque);
}

.radio-button:checked {
    background-image: radial-gradient(black 40%, transparent 40%);
    background-repeat: no-repeat;
}

input:focus {
    outline: none;
}


@media only screen and (max-width: 860px) {
    .grid-container{
        grid-template-columns: auto;
    }

    .settings-box {
        width: 100%;
    }

    .gain-slider {
        max-width: 85%;
    }
}

/* --------------Playback / Piano-------------- */

.piano {
    padding-top: 16px;
}

.accidentals, .naturals {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.piano-key, .spacer {
    width: 8vw;
    height: 16vw;
    max-width: 100px;
    max-height: 200px;
    display: flex;
    border-radius: 8% / 4%;
    margin: 4px;
    justify-content: center;
}

.keyboard-input {
    font-size: calc(8px + 2vw);
    text-align: center;
}

.accidental-text {
    color: white;
    margin: 0 0 30px 0;
}

.natural-text {
    color: black;
    margin: 30px 0 0 0;
}

@media only screen and (max-width: 600px) {
    .accidental-text, .natural-text {
        margin: auto 0 auto 0;
    }
}

/* Accidentals */
.black-key {
    display: flex;
    align-items: flex-end;
    background-color: black;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

.spacer, .half-spacer {
    background-color: transparent;
}

.half-spacer {
    display: inline-block;
    width: 4vw;
    height: 16vw;
    max-width: 50px;
    max-height: 200px;
    margin: 4px;
}

/* White Keys */
.white-key {
    background-color: white;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
}

/* Active Keys */
.active {
    background-color: var(--bgc-3);
}

/*------------------------------------------------------------------*/
/* Octave Controls */

.octave-controls {
    text-align: center;
    padding-top: 10px;
}

.octave-text {
    display: inline-block;
}

.octave-buttons {
    display: inline-block;
    margin: 0 20px;
    background-color: white;
    border-radius: 30%;
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 30px;
    text-align: center;
}

.octave-button-text {
    color: black;
    margin: 3.5px 0 0 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/*--------------Info------------------------------*/

.info-text {
    text-align: justify;
}

/*--------------Footer----------------------------*/

.copyright {
    color: white;
    text-align: center;
}